<body data-spy="scroll" data-offset="80" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
<header>
    <section class="promotion_section2"
    style="background-image: url(assets/img/logo2.png); background-size:cover; background-position: center center;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 text-center col-xs-12 col-md-8 aos-init" data-aos="fade-up">
                <div class="promotion-content">
                    <a href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">
                        <h1>Una llamada a tiempo puede salvar su felicidad</h1>
                        <h5 style="color: white">— Atención solo para Mayores de 18 años, menores de edad abstenerse
                            de la consulta.</h5>
                    </a>
                </div>
                <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link text-dark p-3 mb-2 bg-dark text-white" href="#about">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-3 mb-2 bg-dark text-white" href="#service">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark p-3 mb-2 bg-dark text-white"
                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Contacto</a>
                        </li>

                    </ul>
                </nav>
            </div><!-- END COL -->
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
</section>
</header>
    <!-- START PRELOADER -->
    <div class="preloader" style="display: none;">
        <div class="status" style="display: none;">
            <div class="status-mes"></div>
        </div>
    </div>
    <!-- END PRELOADER -->
    <div class="posicion-icono"><a
            onclick="return gtag_report_conversion('https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=');"
            href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">
            <div id="llamada"></div>
            <div class="parpadea">
                <div id="circle1"></div>
                <div id="circle2"></div>
                <div id="circle3"></div>
            </div>
        </a></div><a
        onclick="return gtag_report_conversion('https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=');"
        href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">

    </a>
    <div class="posicion-icono-whatsapp"><a
            onclick="return gtag_report_conversion('https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=');"
            href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text="></a><a
            onclick="return gtag_report_conversion('https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=');"
            href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">
            <div id="llamada-whatsapp"></div>
            <div class="parpadea">
                <div id="circle1-whatsapp"></div>
                <div id="circle2-whatsapp"></div>
                <div id="circle3-whatsapp"></div>
            </div>
        </a></div><a
        onclick="return gtag_report_conversion('https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=');"
        href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">
        <!-- START NAVBAR -->
    </a>
    <div class="menu-top"><a
            onclick="return gtag_report_conversion('https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=');"
            href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">
        </a>
        <div class="container"><a
                onclick="return gtag_report_conversion('https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=');"
                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">
            </a>
            <div class="row"><a
                    onclick="return gtag_report_conversion('https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=');"
                    href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">
                </a>
              


                <!-- Image and text -->



                <!-- End of CuterCounter Code -->
             

              
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </div>
    <!-- END NAVBAR -->

    <!-- START HOME -->
    <section id="home" class="home_parallax1"
        style="background-image: url(assets/img/particle-bg1.jpg);  background-size:cover; background-position: center center;">
        <div id="particles-js"><canvas class="particles-js-canvas-el" width="1903" height="700"
                style="width: 100%; height: 100%;"></canvas></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="hero-text">
                        <h1>Amarres Efectivos</h1>
                        <p>Especialistas en todo tipo de amarres y regresos del ser amado
                            <br><br>Contáctanos ya! 
                            <br><br>
                            +1(830) 5227842
                        </p>

                    </div>
                </div>
                <!--- END COL -->
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END  HOME DESIGN -->

    <!-- START ABOUT -->

    <!-- END ABOUT -->

    <!-- START ABOUT TWO -->
    <section class="about-two section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 aos-init" data-aos="fade-up">
                    <div class="single_about_two">
                        <h3>Especialistas &amp; Expertos <br> <strong>Maestros Ancestrales del amor</strong></h3>
                        <p>Somos Maestros expertos con conocimientos milenarios para asumir cualquier tipo de trabajo
                            que necesites. Una ayuda a tiempo puede ser la solución a todos tus problemas no lo pienses
                            mas contactanos ahora mismo y empieza a ver resultados reales...</p>
                    </div>
                </div><!-- END COL-->
                <div class="col-xs-12 col-sm-6 aos-init" data-aos="fade-up">
                    <div class="single_about_two_img">

                        <video width="100%" height="515" controls="">
                            <source src="assets/img/poder.mp4" type="video/mp4">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div><!-- END COL-->
            </div><!-- END ROW-->
        </div><!-- END CONTAINER-->
    </section>
    <section id="about" class="about_us">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-xs-12 no-padding aos-init" data-aos="fade-up">
                    <div class="single_about about_one">
                        <h1>No sufras mas.</h1>
                        <span></span>
                        <p>Regresa a ti el amor de tu vida, transforma tus problemas en felicidad, No sufras más por
                            amor tenemos la solución que buscas con rituales de atracción y amarres de amor poderosos,
                            Endulzamientos, Alejamientos, Limpieza Energética, Magia Blanca.</p>
                    </div>
                </div><!-- END COL -->
                <div class="col-lg-3 col-sm-6 col-xs-12 no-padding aos-init" data-aos="fade-up">
                    <div class="single_about about_two">
                        <h1>Consultanos</h1>
                        <span></span>
                        <p>Recuperamos el amor, la fortuna,hacemos magia blanca,limpiezas espirituales,retiro de
                            maleficios escribenos</p>
                    </div>
                </div><!-- END COL -->
                <div class="col-lg-3 col-sm-6 col-xs-12 no-padding aos-init" data-aos="fade-up">
                    <div class="single_about about_three">
                        <span class="about_three_span"></span>
                        <p>Si tu pareja se alejo de ti y no sabes que hacer para que regrese Contactanos Ahora</p>
                    </div>
                </div><!-- END COL -->
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </section>
    <!-- END ABOUT TWO -->

    <!-- START SERVICE  -->
    <section id="service" class="our_service1"
        style="background-image: url(assets/img/service-bg22.jpg); background-size:cover; background-position: center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h1 class="section-title-white">Nuestros Servicios</h1>
                        <span class="section-title-white-span"></span>
                        <p class="section-title-white">Contáctanos ya al 3209084747</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 aos-init" data-aos="fade-up">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="fa fa-star"></i></div>
                        <div class="service-content">
                            <h3>Amarres y Retornos de Amor</h3>
                            <p>No importa las dificultades, todo es posible con amor somos expertos en realizar amarres
                                y lograr recuperar al ser amado</p>
                        </div>
                        <div class="read"><a
                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Haz Clic
                                AQUI!</a></div>
                    </div>
                </div><!-- END COL  -->
                <div class="col-md-4 col-sm-4 col-xs-12 aos-init" data-aos="fade-up">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="fa fa-heart"></i></div>
                        <div class="service-content">
                            <h3>Hechizos de Amor</h3>
                            <p>Trabajos hechos profesionalmente para no generar u ocasionar ningún tipo de daño a
                                ninguna de las personas que se le realiza</p>
                        </div>
                        <div class="read"><a
                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Haz Clic
                                AQUI!</a></div>
                    </div>
                </div><!-- END COL  -->
                <div class="col-md-4 col-sm-4 col-xs-12 aos-init" data-aos="fade-up">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="fa fa-star"></i></div>
                        <div class="service-content">
                            <h3>Rituales de Atraccion</h3>
                            <p>Atrae, revive la pasión y el amor en tu vida. Nuestros rituales permiten atraer el amor
                                de otra persona o salvar una relación que esté pasando por un momento de crisis</p>
                        </div>
                        <div class="read"><a
                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Haz Clic
                                AQUI!</a></div>
                    </div>
                </div><!-- END COL  -->
                <div class="col-md-4 col-sm-4 col-xs-12 aos-init" data-aos="fade-up">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="fa fa-heart"></i></div>
                        <div class="service-content">
                            <h3>Magia Blanca</h3>
                            <p>Te ayudamos a buscar una solución a tus problemas, para que el amor renazca y encuentres
                                la felicidad. Evitando tanta envidia y malda</p>
                        </div>
                        <div class="read"><a
                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Haz Clic
                                AQUI!</a></div>
                    </div>
                </div><!-- END COL  -->
                <div class="col-md-4 col-sm-4 col-xs-12 aos-init" data-aos="fade-up">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="fa fa-star"></i></div>
                        <div class="service-content">
                            <h3>Amarres Sexuales</h3>
                            <p>Recupera la atracción sexual y revive la felicidad de tu relación, previniendo así otras
                                personas destruyan tu relación sentimental</p>
                        </div>
                        <div class="read"><a
                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Haz Clic
                                AQUI!</a></div>
                    </div>
                </div><!-- END COL  -->
                <div class="col-md-4 col-sm-4 col-xs-12 aos-init" data-aos="fade-up">
                    <div class="serviceBox">
                        <div class="service-icon"><i class="fa fa-heart"></i></div>
                        <div class="service-content">
                            <h3>Union de Parejas</h3>
                            <p>Hacemos que la persona que ama sienta lo mismo por usted, ya sea por amor o capricho, sin
                                importar sexo, edad o distancia..</p>
                        </div>
                        <div class="read"><a
                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Haz Clic
                                AQUI!</a></div>
                    </div>
                </div><!-- END COL  -->
            </div>
            <!--END  ROW  -->
        </div><!-- END CONTAINER  -->
    </section>
    <!-- END SERVICE -->

    <!-- START COUNTER -->
    <section class="complete-project-area counter_feature section-padding">
        <div class="container">
            <div class="row ">
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding aos-init" data-aos="fade-up">
                    <div class="single-project-complete">
                        <i class="fa fa-check"></i>
                        <h2 class="counter-num">1000</h2>
                        <h3>Casos Atendidos</h3>
                    </div>
                </div><!-- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding aos-init" data-aos="fade-up">
                    <div class="single-project-complete">
                        <i class="fa fa-user"></i>
                        <h2 class="counter-num">1200</h2>
                        <h3>Clientes Contentos</h3>
                    </div>
                </div><!-- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding aos-init" data-aos="fade-up">
                    <div class="single-project-complete">
                        <i class="fa fa-thumbs-up"></i>
                        <h2 class="counter-num">200</h2>
                        <h3>En proceso</h3>
                    </div>
                </div><!-- END COL -->
                <div class="col-md-3 col-sm-6 col-xs-12 no-padding aos-init" data-aos="fade-up">
                    <div class="single-project-complete brnone">
                        <i class="fa fa-ticket"></i>
                        <h2 class="counter-num">800</h2>
                        <h3>Cerrados</h3>
                    </div>
                </div><!-- END COL -->
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </section>
    <!-- END COUNTER -->

    <!-- START PORTFOLIO -->
    <!-- Button trigger modal -->
    <section id="work" class="our_portfolio section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h1>Servicios</h1>
                        <span></span>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 no-padding">
                    <div class="box">
                        <img src="assets/img/portfolio/asd2.jpg" class="img-responsive" alt="image">
                        <div class="box-content">
                            <h3 class="title">Amarres de Amor</h3>
                            <ul class="icon">
                                <li><a href="#" data-toggle="Modal" data-target="#projectModal"><i
                                            class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- END COL-->
                <div class="col-md-4 col-xs-12 col-sm-6 no-padding">
                    <div class="box">
                        <img src="assets/img/conjuros-para-la-suerte.jpg" class="img-responsive" alt="image">
                        <div class="box-content">
                            <h3 class="title">Hechizos para la buena suerte</h3>
                            <ul class="icon">
                                <li><a href="#" data-toggle="modal" data-target="#projectModal2"><i
                                            class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- END COL-->
                <div class="col-md-4 col-xs-12 col-sm-6 no-padding">
                    <div class="box">
                        <img src="assets/img/portfolio/amarres-del-mismo-sexo2.jpg" class="img-responsive" alt="image">
                        <div class="box-content">
                            <h3 class="title">Rituales de Atraccion</h3>
                            <ul class="icon">
                                <li><a href="#" data-toggle="modal" data-target="#projectModal3"><i
                                            class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- END COL-->
                <div class="col-md-4 col-xs-12 col-sm-6 no-padding">
                    <div class="box">
                        <img src="assets/img/portfolio/amarres-del-mismo-sexo.webp" class="img-responsive" alt="image">
                        <div class="box-content">
                            <h3 class="title">Amarres Sexuales</h3>
                            <ul class="icon">
                                <li><a href="#" data-toggle="modal" data-target="#projectModal4"><i
                                            class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- END COL-->
                <div class="col-md-4 col-xs-12 col-sm-6 no-padding">
                    <div class="box">
                        <img src="assets/img/portfolio/magia-blanca.jpg" class="img-responsive" alt="image">
                        <div class="box-content">
                            <h3 class="title">Magia Blanca</h3>
                            <ul class="icon">
                                <li><a href="#" data-toggle="modal" data-target="#projectModal5"><i
                                            class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- END COL-->
                <div class="col-md-4 col-xs-12 col-sm-6 no-padding">
                    <div class="box">
                        <img src="assets/img/portfolio/union.jpg" class="img-responsive" alt="image">
                        <div class="box-content">
                            <h3 class="title">Union de Parejas</h3>
                            <ul class="icon">
                                <li><a href="#" data-toggle="modal" data-target="#projectModal6"><i
                                            class="fa fa-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- END COL-->
                <div class="col-md-12">
                    <!-- Overlay Modal  -->
                    <div tabindex="0" class="modal" id="projectModal" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    <h4 class="modal-title">Amarres y Retorno de Amor</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="assets/img/portfolio/1.jpg" class="img-responsive" alt="">
                                    <p>Especialistas en amarres y retornos de parejas de cualquier tipo, regreso de su
                                        ser amado de manera natural, recuperando el afecto y la atracción sexual hacia
                                        usted. Compruébalo tú mismo, no tienes por qué seguir sufriendo más.</p>
                                    <ul class="list-unstyled project-list">
                                        <li><label>Contactar: </label> <a
                                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Whatsapp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!-- Overlay Modal  -->
                    <div tabindex="0" class="modal fade" id="projectModal2">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    <h4 class="modal-title">Hechizos de Amor</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="assets/img/portfolio/2.jpg" class="img-responsive" alt="">
                                    <p>Hechizos y encantamientos para canalizar las energías ocultas, para llegar al
                                        poder y la iluminación que tanto necesitas. Todo tipo de Evocaciones (la entidad
                                        revelara sus atributos) e invocaciones (rezos, talismanes, amuletos) para para
                                        estimular sus deseos.</p>
                                    <ul class="list-unstyled project-list">

                                        <li><label>Contactar : </label> <a
                                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Whatsapp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!-- Overlay Modal  -->
                    <div tabindex="0" class="modal fade" id="projectModal3">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    <h4 class="modal-title">Lectura del Tarot</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="assets/img/portfolio/3.jpg" class="img-responsive" alt="">
                                    <p>Nunca hay que forzar su lectura; más vale una interpretación sencilla y clara.
                                        Realice las lecturas de cartas cuando lo necesite, diaria, semanal o mensual,
                                        pero no repita las lecturas de las cartas de Tarot consecutivamente, porque
                                        puede ocasionar confusiones, La interpretación varía según la percepción de la
                                        persona que lo lee, por lo que cada lectura de Tarot es personal e
                                        intransferible.</p>
                                    <ul class="list-unstyled project-list">

                                        <li><label>Contactar : </label> <a
                                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Whatsapp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <!-- Overlay Modal  -->
                    <div tabindex="0" class="modal fade" id="projectModal4">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    <h4 class="modal-title">Amarres Sexuales</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="assets/img/portfolio/4.jpg" class="img-responsive" alt="">
                                    <p>Si lo que deseas es tener una VIDA SEXUAL PLENA y no lo consigues, si tu pareja
                                        no te satisface pero aún quieres estar con él o ella, si lo que quieres es
                                        caminar al borde de la lujuria y disfrutar del sexo sin vergüenzas ni tabúes
                                        este amarre te podría ayudar a lograrlo, si quieres que tu pareja solo tenga
                                        SEXO contigo y acceda a todo lo que le pidas. EXPERIMENTA HOY MISMO…Hay
                                        diferentes resultados y varían de acuerdo a cada persona.</p>
                                    <ul class="list-unstyled project-list">

                                        <li><label>Contactar : </label> <a
                                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Whatsapp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <div tabindex="0" class="modal fade" id="projectModal5">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    <h4 class="modal-title">Rituales y Conjuros</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="assets/img/portfolio/5.jpg" class="img-responsive" alt="">
                                    <p>No importa las dificultades, todo es posible...
                                        hacemos rituales especiales para el ser amado ayuda de los angeles hacemos
                                        trabajos reales te lo ponemos en tus pies arepentido comiendo en tus manos para
                                        que Pague todo lo que hizo, alejo a personas que quiera ver tu hogar destruido
                                        retiro todo tipo de maleficios y brujeria, realizo limpiezas para la buena
                                        suerte,trabajos para que su negocio prospere doy número de suerte tenemos
                                        experiencia no sufras más sea feliz sin importarle a nadie

                                        EESTAMOS COMPROMETIDOS A DAR SOLUCION A SU PROBLEMA, A RECUPERAR EL AMOR Y ASI
                                        ENCONTRAR LA TRAQUILIDAD Y PAZ ESPIRITUAL.</p>
                                    <ul class="list-unstyled project-list">

                                        <li><label>Contactar : </label> <a
                                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Whatsapp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                    <div tabindex="0" class="modal fade" id="projectModal6">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                                    <h4 class="modal-title">Unión de Parejas</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="assets/img/portfolio/6.jpg" class="img-responsive" alt="">
                                    <p>Ayudando a un sin fin de personas que ya daban perdida cualquier esperanza,
                                        restablezca la conexión con esa persona que desea a su lado, fortalezca los
                                        lazos que los unen, no permita que alejen a ese ser que tanto amas de ti.</p>
                                    <ul class="list-unstyled project-list">

                                        <li><label>Contactar : </label> <a
                                                href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">Whatsapp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div><!-- END ROW-->
            <div class="row text-center">
                <div class="view_more_btn">
                    <a href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text="
                        class="btn btn-default btn-project-bg">Contactenos ya!</a>
                </div>
            </div><!-- END ROW-->
        </div><!-- END CONTAINER-->
    </section>
    <!-- END PORTFOLIO -->

    <!-- START PROMOTION -->
    <section class="promotion_section"
        style="background-image: url(assets/img/promotion-bg.jpg); background-size:cover; background-position: center center;">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 text-center col-xs-12 col-md-8 aos-init" data-aos="fade-up">
                    <div class="promotion-content">
                        <a href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text=">
                            <h1>Una llamada a tiempo puede salvar su felicidad</h1>
                            <h5 style="color: white">— Atención solo para Mayores de 18 años, menores de edad abstenerse
                                de la consulta.</h5>
                        </a>
                    </div>
                </div><!-- END COL -->
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </section>
    <!-- END PROMOTION -->



    <!-- START BUY NOW -->
    <section class="buy_now">
        <div class="container text-center">
            <h3 class="buy_now_title">Contáctanos ya empieza a ver resultados! <a
                    href="https://api.whatsapp.com/send?l=en&amp;phone=18305227842&amp;text="
                    class="btn btn-default btn-promotion-bg">Whatsapp</a></h3>
        </div>
        <!--- END CONTAINER -->
    </section>
    <!-- END BUY NOW -->

    <!-- START FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright">
                        <p>Maestros Ancestrales del Amor | All Rights Reserved. <br></p>
                    </div>
                </div><!-- END COL -->
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </div>
    <!-- END FOOTER -->


    <div id="topcontrol" class="topcontrol" title=""
        style="position: fixed; bottom: 5px; right: 5px; opacity: 0; cursor: pointer;"><i
            class="fa fa-arrow-up scrolltop"></i></div>
</body>